.header{
    background-image: url(../SG/image/photo-1563284223-333497472e88.avif);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
